<footer>
  <div class="container">
    <div class="text-center" style="padding-top:1em; padding-bottom:0;">
      <img src="assets/img/PokeWeb.png" height="30" alt="PokeWeb">
    </div>
    <div class="row">
      <div class="col-3">
        <a href="#" title="">
          <img src="assets/img/01.png" alt="">
          <p class="d-none d-sm-block">twitter.com/Pokeweb</p>
        </a>
      </div>
      <div class="col-3">
        <a href="#" title="">
          <img src="assets/img/02.png" alt="">
          <p class="d-none d-sm-block">instagram.com/Pokeweb</p>
        </a>
      </div>
      <div class="col-3">
        <a href="#" title="">
          <img src="assets/img/03.png" alt="">
          <p class="d-none d-sm-block">youtube.com/Pokeweb</p>
        </a>
      </div>
      <div class="col-3">
        <a href="#" title="">
          <img src="assets/img/04.png" alt="">
          <p class="d-none d-sm-block">facebook.com/Pokeweb</p>
        </a>
      </div>
    </div>
    <div class="copyright">
      <p>Derechos Reservados ©. Designed by <a routerLink='admin'>André Malpica.</a></p>
    </div>
  </div>
</footer>