.menubox {
    /*background-color:rgba(0, 0, 0, 0.4);*/
    background-color: whitesmoke;
    padding: 0;
    padding-bottom: 1em;
}

.menubox {
    /*background-color:rgba(0, 0, 0, 0.4);*/
    background-color: whitesmoke;
    padding: 0;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    border-bottom: 0.2px solid black;
}

.inicio {
    margin-top: 0.7em;
    padding: 0.3em;
}

.titprin {
    display: inline-flex;
}

.titprin h2, .titprin img {
    margin-left: 0.5em;
}
